
.expense-manager{
    padding: 20px;
    margin:40px;
}

.expense-manager h1{
    font-size: 64px;

}

.expense-manager h2{
    font-size: 32px;
}

.expense-manager label{
    display: block;
    margin-bottom: 15px;;
}

.expense-manager input{
    width: 130px;
    padding: 10px;
}

.expense-manager button{
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}